*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
nav ul
{
    list-style-type: none;
}

nav ul li
{
    display: inline-block; 
    float: left;
    width: 20%;
    text-align: center;
    background-color: #05A081;
} 

nav a 
{
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    color: white;
}

nav a:hover
{
    color: white;
    background: #007d65;
    text-decoration: none;
} */

nav
{
    background: #05A081;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav ul li 
{
    flex: 1, 1, 0;
    text-align: center;
    position: relative
}

nav ul li a 
{
    text-align: center;
    display: block;
    padding: 10px;
    color: white;
}

nav a:hover
{
    color: white;
    background: #007d65;
    text-decoration: none;
}

nav ul li ul 
{
    position: absolute;
    background: #05A081;
    flex-direction: column;
    display: none;
}

nav ul li:hover ul
{
    display: block;
}