/* selector & declaration */
/* selector { propername:value; } */
@import url('https://fonts.googleapis.com/css?family=Nunito');
/* css variables - root & var() */
:root
{
    --main-color: pink;
    --text-color: black;
}

p
{
    color:blue !important;
}

body
{
    /* font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 13px;
    line-height: 150%; */

    /* shorthand */
    font: italic small-caps bold 13px/150% Nunito;
    background-color: var(--main-color) !important;
}

p
{
    color:var(--text-color);
}